<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>パスワードリセット</title>
    <link rel="stylesheet" href="/static/styles.css?v=2" />
  </head>

  <body style="background: #f5f6f8">
    <div class="forgot" style="background-color: #faf8f2">
      <h1>Forgot your password?</h1>

      <form action="/forgot" method="POST">
        <label for="email"></label><br />
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Email Address"
          required
        /><br />

        <button type="submit">Submit</button>
      </form>

      <!-- Flask用に修正 -->
      <h3>Remembered your password? <a href="/signin">Sign in</a></h3>
    </div>
  </body>
</html>
