<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>新規登録/ログイン</title>
    <link rel="stylesheet" href="/static/styles.css?v=2" />
  </head>

  <body style="background: #f5f6f8">
    <div class="signup" style="background-color: #faf8f2">
      <h1>Sign up</h1>

      <a href="/auth/google" class="btn-link">
        <h2>
          <img src="/static/img/google.png" alt="Google" class="h2-icon" />
          Continue with Google
        </h2>
      </a>

      <a href="/signup-email" style="text-decoration: none" class="btn-link">
        <h2>
          <img src="/static/img/email.png" alt="Email" class="h2-icon" />Sign up
          with Email
        </h2>
      </a>

      <h3>Already have an account? <a href="/signin">Sign in</a></h3>
    </div>
  </body>
</html>
